<%- include('./partials/header') %>

<link rel="stylesheet" href="/styles/create-product-style.css">

<% if(success.length>0){ %>
    <div class="success-message">
        <span><%= success %></span>
    </div>
<% } %>

<div class="container">
    <div class="sidebar">
        <h3>Categories</h3>
        <a href="">All Products</a>
        <a href="">Create New Product</a>
    </div>
    <main class="main-content">
        <h2 class="title">Create New Product</h2>
        <form autocomplete="off" action="/products/create" method="post" enctype="multipart/form-data">
            <div class="form-section">
                <h3 class="subtitle">Product Details</h3>
                <div class="form-group">
                    <label>Product Image</label>
                    <input name="image" type="file" class="input-file" value="Select File">
                </div>
                <div class="form-grid">
                    <input name="name" type="text" placeholder="Product Name" class="input-text">
                    <input name="price" type="text" placeholder="Product Price" class="input-text">
                    <input name="discount" type="text" placeholder="Discount Price" class="input-text">
                </div>
            </div>
            <div class="form-section">
                <h3 class="subtitle">Panel Details</h3>
                <div class="form-grid">
                    <input name="bgColor" type="text" placeholder="Background Color" class="input-text">
                    <input name="panelColor" type="text" placeholder="Panel Color" class="input-text">
                    <input name="textColor" type="text" placeholder="Text Color" class="input-text">
                </div>
            </div>
            <input class="submit-button" type="submit" value="Create New Product">
        </form>
    </main>
</div>

<%- include('./partials/footer') %>
