* {
    scrollbar-width: none;
}

body {
    background: url('/images/close-up-clock-with-time-change.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust transparency as needed */
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav {
    background-color: rgba(0, 0, 0, 0.7);
    /* Adjust transparency as needed */
}

h3,
h4,
.form-container {
    color: #fff;
    /* Ensure text is visible on dark background */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.8);
    /* Semi-transparent input fields */
    color: #000;
    /* Black text for better readability */
}

input[type="submit"]{
    color: #000;
    font-stretch:semi-expanded;
    font-optical-sizing:auto ;
    font-weight: 700;
}